<title>PS4 Client PKG installer</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="./stylesheets/style.css">
<link rel="stylesheet" href="./stylesheets/callout.css">
<link href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet">


<script src="./javascripts/jquery-3.4.1.slim.min.js"></script>
<script src="./javascripts/bootstrap.min.js"></script>
<script src="./javascripts/popper.min.js"></script>
<script src="./javascripts/socket.io.js"></script>
<script src="./javascripts/angular.min.js"></script>
<script src="./javascripts/app.js"></script>
